.body-loaded {
  .page-header__logo {
    left: 0;
    opacity: 1;
  }

  .page-header__nav {
    opacity: 1;
  }

  .page-header__menu a.active::after {
    left: 0;
    width: 100%;
  }

  .social-block__toggler::before {
    animation: increaseScale 0.5s cubic-bezier(0, 0.8, 0, 1) forwards;
  }

  .screen__footer {
    bottom: 0;
  }
}
