@keyframes rollDown {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rollLeft {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes riseUp  {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes riseDown  {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes drawStroke  {
  0% {
    stroke-dasharray: 0 0 0;
  }
  100% {
    stroke-dasharray: 500 1000 0;
  }
}

@keyframes showButton  {
  0% {
    color: transparent;
  }
  100% {
    color: $c-dark;
  }
}

@keyframes showButtonPseudo  {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $c-light;
    border-color: $c-light;
  }
}

@keyframes shaking {
  0% {
    transform: translate3d(0, 0, 0) rotate(-10deg);
  }
  50% {
    transform: translate3d(5px, -20px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-10deg);
  }
}

@keyframes resultImageAnimation-1 {
  0% {
    transform: translate3d(0, 150px, 0) rotate(320deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(350deg);
  }
}

@keyframes resultImageAnimation-2 {
  10% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(2deg);
  }
  95% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes resultImageAnimation-3 {
  0% {
    transform: translate3d(0, 300px, 0) scale(0);
  }
  75% {
    transform: translate3d(0, -20px, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes resultNegativeButton {
  0% {
    transform: translateX(100px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes translateXZero {
  100% {
    transform: translateX(0);
  }
}
